ul {
  border: 3px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 20px;
}

li {
  padding: 6px;
  display: flex;
  /* Равномерное распределение элементов */
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 4px;
}

span {
  max-width: 60%;
  height: fit-content;
  margin: 1rem;
}
.control {
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin: 0 1rem 0 1rem;
}
